.skillSection {
    padding: 20px;
}

.category {
    margin-bottom: 30px;
}

.categoryGrid {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.categoryTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
}